[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim-coffee-script"]
	path = vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/sweet-rspec-vim"]
	path = bundle/sweet-rspec-vim
	url = https://github.com/duskhacker/sweet-rspec-vim.git
[submodule "bundle/vim-rake"]
	path = bundle/vim-rake
	url = git://github.com/tpope/vim-rake.git
[submodule "vim-endwise"]
	path = vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "snipmate.vim"]
	path = snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
